<head>
  <meta charset="UTF-8">
  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marisa Vasconcelos</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{{ '/public/css/styles_header.css' | relative_url }}">

  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ '/public/css/' | append: stylesheet | append: '.css' | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
  {% endif %}
</head>
