---
---

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

<style>

  .bottom-three {
     margin-bottom: -15px;
  }

   ol.bibliography li {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 ol.bibliography li:before {
      list-style-type: none;
      content: "";
      color: blue;

}

  button {
     font-size: 14px;
  }

  .my_text{
      font-size: 14px;
  }

  .leftcell{
    float: left;
    text-align:right;
  }
  .rightcell{
   float: left;
   text-align: left;
   font-size: 14px;
   padding-left: 5px; /* give some spacing here to fake cell padding */
}

</style>


<div style="width: 1000px;">
{% if entry.series %}
<div style="float: left; width: 170px;text-align:left;font-size: 14px;padding-top:20px;">[{{entry.series}}]</div>
<div style="float: left; width: 830px;text-align:left;font-size: 14px;padding-left:5px">{{reference}}</div>
</div>
{% else %}
<div style="float: left; width: 200px;text-align:left;font-size: 14px;padding-top:20px;"> [{{entry.note}}] </div>
<div style="float: left; width: 800px;text-align:left;font-size: 14px;padding-left:5px"> {{reference}} </div>
</div>
{% endif %}


<!-- {% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}">
      <input class="button1" type="button" value="doi" /></a>
{% endif %}

{% if entry.preprint %}
    <a href="{{ entry.preprint }}">
      <input class="button2" type="button" value="preprint" /></a>
{% endif %}
-->



{% if entry.series %}
<div style="width: 1000px;">
<div style="float: left; width: 170px;text-align:right;padding-left: 5px">&nbsp;</div>
<div style="float: left; width: 830px;text-align:left;padding-left: 5px">
  <button onclick="toggleBibtex{{entry.key}}()">Bib</button>
{% if link %}
<a href="{{ link }}"><button class="btn btnId btnPub--download" style="outline:none; position:relative;white-space:
      normal;">Pdf</button></a>
{% endif %}
</div>

{% if entry.code %}
    <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
{% endif %}

<div id="a{{entry.key}}" style="display: none;"><pre>{{entry.bibtex}}</pre></div>
</div>
{% endif %}


<!-- <br style="clear: left;" />
<br style="clear: left;" /> -->
<p class="bottom-three">&nbsp;</p>
{% unless entry.label %}
<div style= "border: 1px solid #e5e5e5"> </div>
{% endunless %}
