---
---

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

<!-- <div style="width:1060px;"> -->
{% if entry.series %}
<div style="width:1060px;">
<div style="float:left;position:relative;width:130px;text-align:left;font-size:16px;padding-top:10px;padding-left:70px;">
  <!-- <div style="float:left;position:relative;width:930px;text-align:left"> -->
    <button onclick="toggleBibtex{{entry.key}}()">Bib</button>
  <!-- </div> -->
</div>
<div style="float:left;position:relative;width:930px;text-align:left;font-size: 16px;padding-left:20px;line-height:20px;padding-bottom:20px;">{{reference}}</div>

<div id="a{{entry.key}}" style="display: none;"><pre>{{entry.bibtex}}</pre></div>

</div>

{% else %} <!--patentes -->
<div style="width:1080px;">
<div style="float:left;position:relative;width:150px;text-align:left;font-size:13px;padding-left:80px;id=marisa">&nbsp;&nbsp;</div>
<div style="float:left;position:relative;width:930px;text-align:left;font-size:16px;line-height:20px;id=marisa">
<!-- {% assign currentdate = entry.date | date: "%B %Y" %} -->
{{entry.date}}
{% for author in entry.author_array %}
{{ author.first }} {{ author.last }}{% unless forloop.last %},{% endunless %}{% if forloop.last %}.{% endif%}
{% endfor %}<b>{{ entry.title }}</b>. {{ entry.month_string }} {{ entry.year }}, {{entry.note}}.<br>
</div>
</div>
{% endif %}



<!-- <div style="width:1060px;border:1px solid black;">
<div style="float:left;position:relative;width:130px;text-align:right;padding-left: 5px;position:relative;">&nbsp;&nbsp;</div>
<div style="float:left;position:relative;width:930px;text-align:left;padding-left:20px">
&nbsp;&nbsp;</div>
</div> -->

<p class="bottom-three">&nbsp;</p>
{% unless entry.label %}<div style= "padding-bottom:25px;"> </div>{% endunless %}
