

<body>
  <header>
    {% include header.html %}
  </header>

  <main class="container-publications">
    <!-- Conferences -->
    <section id="conferences">
      <h2>Conferences</h2>
      {% bibliography --file publications %}
    </section>

    <!-- Journals -->
    <section id="journals">
      <h2>Journals</h2>
      {% bibliography --file journals %}
    </section>

    <!-- Patents -->
    <section id="patents">
      <h2>Patents</h2>
      {% bibliography --file patents --sort_by year,month --order descending %}
    </section>
  </main>
</body>
</html>
